@import "nord.css";

@keyframes gobright {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: var(--nord4)
}

body {
  animation: 1s ease-out 0s 1 gobright;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  background-color: var(--nord1);
}

button {
  font-size: medium;
  margin-top: 1em;
  margin-right: 2px;
  margin-left: 2px;
  padding: -2em;
  color: var(--nord0);
}

#suggest p {
  color: var(--nord4);
  font-size: 2em;
}

#not-app {
  background-color: var(--nord1);
  width:  var(--screen-x);
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}

#base-app {
  height: 100%;
  width: 60%;
  background-color: var(--nord1);
}

#header-div {
  background-color: var(--nord0);
}

#head-nav {
  width: 60vw;
  line-height: 4em;
  & *{
    margin-right: 20px;
    margin-left: 20px;
  }
}

#head-nav a {
  text-decoration: none;
  margin-bottom: 1em;
  color: var(--nord6);
  transition: all 0.25s ease-out;
  &:first-child{
    color: rgb(255, 157, 0);
    font-weight: bold;
    font-size: larger;
  }
  &:hover{
    opacity: 50%;
  }
}

#base-div {
  height:100%;
  background-color: var(--nord1);
}

#textEditor {
  display: inline-block;
  
  max-height: 1.2em;
  max-width: 100%;
  min-height: 1.2em;
  min-width: 100%;

  border-radius: 10px;
  border: 0px;

  padding: 1rem;

  text-align: start;
  text-decoration: none;
  white-space: break-spaces;
  word-break: break-word;
  line-height: 1.8em;
  overflow: scroll;
  
  color: var(--nord6);
  background-color: var(--nord3);
}

#speechless {
  font-size: 2em;
  line-height: 3em;
}

#config {
  text-align: end;
}

#suggest {
  margin-top: 3em;
}

#suggest-main {
  margin-top: 3em;
}

.horzcen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertcen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redacted {
  background-color: var(--nord6);
  color: var(--nord6);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}